///
/// Default
///

    html {
      height: 100%;
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      margin: 0px;
      min-height: 100%;
      position: relative;
    }

    ///
    ///$mq-extra-small
    ///
        @media #{$mq-extra-small} {
          body {
            padding-bottom: 60px;
          }
        }

    ///
    ///end of $mq-extra-small
    ///



    ///
    ///$mq-small
    ///
        @media #{$mq-small} {
          body {
            padding-bottom: 60px;
          }
        }

    ///
    ///end of $mq-small
    ///



    ///
    ///$mq-medium
    ///
        @media #{$mq-medium} {
          body {
            padding-bottom: 60px;
          }
        }

    ///
    ///end of $mq-medium
    ///



    ///
    ///$mq-large
    ///
        @media #{$mq-large} {
          body {
            padding-bottom: 90px;
          }
        }

    ///
    ///end of $mq-large
    ///



    ///
    ///$mq-medium-landscape
    ///
        @media #{$mq-medium-landscape} {
          body {
            padding-bottom: 0;
          }
        }

    ///
    ///end of $mq-medium-landscape
    ///



    ///
    ///$mq-largest
    ///
        @media #{$mq-largest} {
          body {
            padding-bottom: 0;
          }
        }

    ///
    ///end of $mq-largest
    ///
