
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.container{
  margin-right: 0px;
}
// Landing page
.landing-page-background{
  background-color: rgba(216, 216, 216, 1);
  width: 100%;
  height: 8000px;
  position: fixed;
}
.landing-page-logo{
  margin-top: 200px;
  width: 100px;
  height: 100px;
  margin-left: 40px;
}
.enter{
  text-align: center;
  border: 3px solid rgba(238, 44, 144, 1);
  border-radius: 10px;
  background-color: white;
  width: 200px;
  height: 80px;
  margin-top: 100px;
}
// end of landing page

// header
.header-background{
  background-color:  #D8D7D3;
  height: 3000px;
  width: 300px;
  position: fixed;
  .row{
    margin-top: 40px;
  }
}
.header-logo{
  height: 190px;
  display: inline-block;
  margin-top: 40px;
}
.nav-list{
  display: inline-block;
  text-transform: uppercase;
  font-family: "Open Sans";
    a {
      color: #333333;
    }
    .portfolio-nav{
      margin-left: 87px;
    }
    .about-nav{
      margin-left:98px;
    }
    .contact-nav{
      margin-left: 92px;
    }
}
.social-icons{
  img {
    height: 50px;
    margin-top: 300px;
    margin-left: 20px;
  }
}

// end of header

//footer
.footer-background{
  background-color: #D8D7D3;
}
.footer-logo{
  width: 50px;
  height: 50px;
}
//end of footer

//home page list of work
.surfandpaddle-icon,
.drinkup-icon,
.swamprabbit-icon,
.github-icon{
  opacity: 1.0;
  display: inline-block;
  position: relative;
}
.drinkup-icon,
.surfandpaddle-icon{
  margin-left: 30px;
}
.surfandpaddle-icon:hover,
.drinkup-icon:hover,
.swamprabbit-icon:hover,
.github-icon:hover{
  opacity: 0.4;
}
.surfandpaddle-title,
.drinkup-title,
.swamprabbit-title,
.github-title{
  font-family: 'Libre Baskerville';
  font-size: 50px;
  color: #333333;
  position: absolute;
}
.drinkup-title,
.github-title{
  margin-top: 250px;
  margin-left: 203px;
}
.surfandpaddle-title{
  margin-top: 230px;
  margin-left: 130px;
}
.swamprabbit-title{
  margin-top: 220px;
  text-align: center;
  margin-left: 120px;
}
.surfandpaddle-title:hover,
.drinkup-title:hover,
.swamprabbit-title:hover,
.github-title:hover{
  visibility: visible;
}
// end of list of work


// about section
.about-profile-pic{
  height: 300px;
}
// end of about

// drink up detail page
.drinkup-pic{
  margin-top: 100px;
}
.drinkup-info{
  h1{
    font-family: 'Open Sans';
    font-size: 32px;
    color: #9A9995;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 47px;
    margin-left: 30px;
  }
  h1.drinkup-heading{
    font-size: 57px;
    margin-top: 40px;
    margin-left: 30px;
  }
  p{
    font-family: 'Libre Baskerville';
    font-size: 12px;
    color: #61605B;
    margin-left: 30px;
  }
}
.purpose{
  margin-top: 75px;
}
// end of drink up detail page

//github detail page
.github-info{
  h1{
    font-family: 'Open Sans';
    color: #9A9995;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 47px;
  }
  p, div{
    font-family:'Libre Baskerville';
    color: #61605B;
  }
}
//end of github detail page

//surf and paddle detail page
.surfandpaddle-info{
  h1{
    font-family: 'Open Sans';
    color: #9A9995;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 47px;
  }
  p, div{
    font-family: 'Libre Baskerville';
    color: #61605B;
  }
}
// end of surf and paddle detail page

//swamprabbit detail page
.mockup-pic{
  float: right;
  width: 700px;
  height: 700px;
}
.responsive-info{
  h1{
    font-family: 'Open Sans';
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 47px;
  }
  p, div{
    font-family: 'Libre Baskerville';
    color: #61605B;
  }
}
// end of swamprabbit detail page
