@font-face {
  font-family: SavateRegular;
  src: url("fonts/savate-regular-webfont.woff2") format("woff2"), url("fonts/savate-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: SavateItalic;
  src: url("fonts/savate-italique-webfont.woff2") format("woff2"), url("fonts/savate-italique-webfont.woff") format("woff");
}
/**
 * Define media queries
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: #FF28F6;
  color: #E5D9FF;
}

::-moz-selection {
  background: #FF28F6;
  color: #E5D9FF;
}

.port__body-freeze .port__content-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.port__body-wrap {
  font-family: "SavateRegular", sans-serif;
  background-image: url("img/background-mobile.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.port__header-wrap {
  padding-top: 20px;
}

.port__header-menu-btn {
  background-color: inherit;
  border: none;
  font-family: "SavateRegular", sans-serif;
  text-transform: uppercase;
  font-size: calc(18px + 10 * ((100vw - 375px) / 1065));
  color: #FF28F6;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.port__header-menu-btn:focus {
  outline: none;
  font-family: "SavateItalic", sans-serif;
}

.port__header-menu-wrap {
  background-image: url("img/menu-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  overflow-y: scroll;
  color: #FF28F6;
  position: absolute;
  top: 60px;
  right: -100%;
  width: 0%;
  bottom: 0;
  transition: all 0.8s;
  z-index: 10;
}

.port__header-menu-wrap--open {
  width: 100%;
  right: 0;
  transition: all 0.8s;
}

.port__menu-list-wrap {
  text-align: center;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.port__menu-list-item {
  padding-bottom: 45px;
}
.port__menu-list-item:last-of-type {
  padding-bottom: 0;
}

.port__list-item-title {
  text-transform: uppercase;
  font-size: calc(25px + 15 * ((100vw - 375px) / 1065));
}
.port__list-item-title:after {
  content: "";
  display: block;
  position: relative;
  width: 90px;
  height: 3px;
  background-color: #BEFB3C;
  margin: 20px auto;
}

.port__list-item-link {
  color: #FF28F6;
  text-decoration: none;
  font-size: calc(18px + 7 * ((100vw - 375px) / 1065));
  transition: all 0.5s ease-in-out;
}
.port__list-item-link:focus {
  font-family: "SavateItalic", sans-serif;
  line-height: 100%;
}

.port__list-sub-list-item {
  padding-bottom: 16px;
}

.port__content-wrap {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.port__title-wrap {
  position: relative;
  color: #BEFB3C;
  text-align: center;
  text-transform: uppercase;
  height: 90vh;
  min-height: 485px;
}

.port__subtitle {
  font-size: calc(18px + 6 * ((100vw - 375px) / 1065));
  font-family: "SavateItalic", sans-serif;
  line-height: 125%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.port__subtitle:first-of-type {
  top: 20px;
}
.port__subtitle:last-of-type {
  bottom: 0;
}

.port__title {
  font-size: calc(40px + 20 * ((100vw - 375px) / 1065));
  line-height: 125%;
  width: 90%;
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.port__projects-body-wrap {
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.port__projects-list-wrap {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.port__projects-list-item {
  position: relative;
  margin-bottom: 35px;
  font-size: calc(22px + 8 * ((100vw - 375px) / 1065));
  cursor: pointer;
}

.port__projects-item-link {
  color: #FF28F6;
  transition: all 0.5s;
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  .port__body-freeze .port__content-wrap {
    width: 100vw;
    height: auto;
    overflow: auto;
  }

  .port__body-wrap {
    font-family: "SavateRegular", sans-serif;
    background-image: url("img/desktop-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
    height: 100vh;
    position: relative;
  }

  .port__header-wrap {
    padding: 0;
  }

  .port__header-menu-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-top: 3px solid #FF28F6;
    border-bottom: 3px solid #FF28F6;
    width: 100vh;
    min-width: 700px;
    padding: 10px 0;
    transition: all 0.8s;
    z-index: 10;
  }
  .port__header-menu-btn:focus {
    background-color: #FF28F6;
    color: #BEFB3C;
  }

  .port__header-menu-wrap {
    height: 100vh;
    position: absolute;
    top: 0;
    right: -45%;
    width: 43%;
    min-height: 700px;
    overflow-y: scroll;
  }

  .port__header-menu-wrap--open {
    width: 43%;
    right: 0;
  }

  .port__menu-list-wrap {
    width: 90%;
    top: 50%;
  }

  .port__menu-list-item {
    padding-bottom: 70px;
  }

  .port__list-item-title:after {
    height: 4px;
    margin: 23px auto;
  }

  .port__list-sub-list {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
  }

  .port__list-sub-list-item {
    width: 32%;
  }

  .port__content-wrap {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
  }

  .port__title-wrap {
    width: 45%;
    height: 100vh;
    min-height: 700px;
  }

  .port__subtitle:first-of-type {
    top: 40px;
  }
  .port__subtitle:last-of-type {
    bottom: 40px;
  }

  .port__projects-body-wrap {
    width: 45%;
    height: inherit;
    min-height: inherit;
  }

  .port__projects-list-item {
    line-height: 125%;
  }

  .port__projects-item-link {
    color: #BEFB3C;
  }
}
@media screen and (min-width: 960px) {
  .port__header-menu-btn {
    border-top: 4px solid #FF28F6;
    border-bottom: 4px solid #FF28F6;
    padding: 13px 0;
  }
}
@media screen and (min-width: 1200px) {
  .port__menu-list-item {
    padding-bottom: 85px;
  }

  .port__list-item-title:after {
    margin: 25px auto;
  }
}
@media screen and (min-width: 1800px) {
  .port__header-menu-btn {
    font-size: 30px;
  }

  .port__list-item-title {
    font-size: 44px;
  }

  .port__list-item-link {
    font-size: 27px;
  }

  .port__subtitle {
    font-size: 26px;
  }

  .port__title {
    font-size: 65px;
  }

  .port__projects-list-item {
    font-size: 33px;
  }
}
@media (hover: hover) {
  .port__header-menu-btn:hover {
    font-family: "SavateItalic", sans-serif;
  }

  .port__list-item-link:hover {
    font-family: "SavateItalic", sans-serif;
    line-height: 100%;
  }

  .port__projects-item-link:hover {
    color: #FF28F6;
    font-family: "SavateItalic", sans-serif;
    line-height: 100%;
  }
}
@media screen and (hover: hover) and (min-width: 720px) {
  .port__header-menu-btn:hover {
    background-color: #FF28F6;
    color: #BEFB3C;
  }

  .port__projects-list-item:hover:after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 150px;
    max-width: 365px;
    width: 80%;
    z-index: 0;
    transition: all 0.8s;
  }
  .port__projects-list-item:hover:first-of-type:after {
    background-image: url("img/projects/bexc-home.png");
  }
  .port__projects-list-item:hover:nth-of-type(2):after {
    background-image: url("img/projects/kag.png");
  }
  .port__projects-list-item:hover:nth-of-type(3):after {
    background-image: url("img/projects/trump-tax-calc.png");
  }
  .port__projects-list-item:hover:nth-of-type(4):after {
    background-image: url("img/projects/make-a-plan-quiz.png");
  }
  .port__projects-list-item:hover:nth-of-type(5):after {
    background-image: url("img/projects/make-a-plan.png");
  }
  .port__projects-list-item:hover:nth-of-type(6):after {
    background-image: url("img/projects/trump-covid-plan.png");
  }
  .port__projects-list-item:hover:nth-of-type(7):after {
    background-image: url("img/projects/scott-avett.png");
  }
  .port__projects-list-item:hover:last-of-type:after {
    background-image: url("img/projects/ramkat.png");
  }
}
@media screen and (hover: hover) and (min-width: 960px) {
  .port__projects-list-item:hover:after {
    left: 60%;
    height: 230px;
  }
}
@media screen and (hover: hover) and (min-width: 1200px) {
  .port__projects-list-item:hover:after {
    left: 70%;
  }
}

/*# sourceMappingURL=main.css.map */
