///
///$mq-default
///
    @media #{$mq-default} {
      .about {

        &__title {
          font-family: $font_montseratt;
          color: $color_light-font-grey;
        }

        &__sub-title {
          font-family: $font_montseratt;
          font-style: italic;
          color: $color_dark-grey;
        }

        &__description {
          font-family: $font_open-sans;
          color: $color_mid-grey;
        }

        &__skills-list{
          list-style: none;
          font-family: $font_open-sans;
          color: $color_mid-grey;
        }

        &__wsnc {
          font-family: $font_montseratt;
          font-style: italic;
          color: $color_gold;
        }

      }
    }

///
///end of $mq-default
///



///
///$mq-extra-small
///
    @media #{$mq-extra-small} {
      .about {
        margin: 20px 9px 0 9px;

        &__title:first-child, &__sub-title {
          display: none;
        }

        &__title {font-size: 40px; margin-top: 30px;}

        &__profile-pic {
          width: 100%;
        }

        &__description {
          font-size: 12px;
          line-height: 25px;
          margin-top: 10px;
        }

        &__skills-list{
          font-size: 12px;
          column-count: 2;
          line-height: 30px;
          padding-left: 10px;
        }

        &__map {
          margin: 20px 20px 0 0;
          width: 55%;
          float: left;
        }

        &__wsnc {
          font-size: 20px;
          margin: 30px 0 75px 0;
        }

      }
    }

///
///end of $mq-extra-small
///




///
///$mq-small
///
    @media #{$mq-small} {
      .about {
        margin: 20px 20px 0 20px;

        &__title:first-child, &__sub-title {
          display: none;
        }

        &__title {font-size: 40px; margin-top: 30px;}

        &__profile-pic {
          width: 100%;
        }

        &__description {
          font-size: 12px;
          line-height: 25px;
          margin-top: 10px;
        }

        &__skills-list{
          font-size: 12px;
          column-count: 3;
          line-height: 30px;
          padding-left: 0px;
        }

        &__map {
          margin: 20px 20px 0 0;
          width: 55%;
          float: left;
        }

        &__wsnc {
          font-size: 20px;
          margin: 25px 0 75px 0;
        }

      }
    }

///
///end of $mq-small
///




///
///$mq-small-plus
///
    @media #{$mq-small-plus} {
      .about {

        &__wsnc {margin: 30px 0 110px 0;}
      }
    }

///
///end of $mq-small-plus
///




///
///$mq-medium
///
    @media #{$mq-medium} {
      .about {
        margin: 20px 30px 0 30px;

        &__description {
          font-size: 14px;
          line-height: 28px;
        }

        &__skills-list{
          font-size: 14px;
        }

        &__map {
          float: left;
          width: 50%;
          padding-right: 25px;
        }

        &__wsnc {
          font-size: 35px;
          margin: 60px 0 170px 0;
        }

      }
    }

///
///end of $mq-medium
///





///
///$mq-large
///
    @media #{$mq-large} {
      .about {
        margin: 20px 30px 0 30px;

        &__profile-pic {
          width: 50%;
          margin-left: 25%;
        }

        &__title {font-size: 55px; margin-top: 50px;}

        &__description {
          font-size: 14px;
          line-height: 28px;
        }

        &__skills-list{
          font-size: 14px;
        }

        &__map {
          float: left;
          width: 50%;
          padding-right: 25px;
        }

        &__wsnc {
          font-size: 35px;
          margin: 60px 0 170px 0;
        }

      }
    }

///
///end of $mq-large
///




///
///$mq-medium-landscape
///
    @media #{$mq-medium-landscape} {
      .about {
        margin: 0 40px 0 24%;

        &__title {font-size: 55px; margin-top: 50px;}

        &__sub-title {font-size: 17px;}

        &__title:first-child, &__sub-title {
          display: inline;
        }

        &__profile-pic {
          width: 30%;
          float:right;
        }



        &__wsnc {
          font-size: 35px;
          margin: 60px 0 60px 0;
        }

      }
    }

///
///end of $mq-medium-landscape
///
