///
/// Default
///
    @media #{$mq-default} {
        .contact {

            &__title {
              font-family: $font_montseratt;
              color: $color_light-font-grey;
            }

            &__info, &__contact {
              font-family: $font_open-sans;
              color: $color_mid-grey;
            }

            &__info:nth-child(3){
              font-family: $font_montseratt;
              font-style: italic;
              color: $color_dark-grey;
            }

            &__contact a{
              color: $color_mid-grey;
            }

            &__contact a:hover{
              text-decoration: none;
              color: $color_mid-grey;
              cursor: pointer;
            }

            &__sub-title {
              font-family: $font_montseratt;
              font-style: italic;
              color: $color_dark-grey;
            }

            &__links {
              background-color: $color_gold;
              border-radius: 5%;
              font-family: $font_montseratt;
              text-align: center;
            }

            &__links a{
              color: white;
            }

            &__links a:hover{
              color: white;
              text-decoration: none;
              cursor: pointer;
            }

        }
    }




///
///$mq-extra-small
///
    @media #{$mq-extra-small} {
      .contact {
        margin: 20px 9px 0 9px;

        &__title {
          font-size: 40px;
          text-align: center;
          margin-top: 40px;
        }

        &__info {
          font-size: 12px;
          line-height: 25px;
          margin-top: 25px;
        }

        &__contact {
          margin-top: 25px;
          font-size: 12px;
        }

        &__links {height: 40px; padding: 11px; font-size: 16px;}

      }
    }

///
///end of $mq-extra-small
///




///
///$mq-small
///
    @media #{$mq-small} {
      .contact {
        margin: 20px 20px 0 20px;

        &__title {
          font-size: 40px;
          text-align: center;
          margin-top: 40px;
        }

        &__info {
          font-size: 12px;
          line-height: 25px;
          margin-top: 20px;
        }

        &__info:nth-child(3){
          text-align: center;
        }

        &__contact-block {
          width: 49%;
          display: inline-block;
          text-align: center;
        }

        &__contact {
          margin-top: 25px;
          font-size: 12px;
        }

        &__links {height: 40px; padding: 10px;font-size: 16px;}

        &__bubbles {margin-bottom: 25px;}

      }
    }

///
///end of $mq-small
///



///
///$mq-medium
///
    @media #{$mq-medium} {
      .contact {
        margin: 20px 30px 0 30px;

        &__title {
          font-size: 50px;
          text-align: center;
          margin-top: 40px 0 20px 0;
        }

        &__info {
          font-size: 14px;
          line-height: 28px;
          width: 80%;
          margin: 15px auto;
        }

        &__info:nth-child(3){
          text-align: center;
        }

        &__contact-block {
          width: 49%;
          display: inline-block;
          text-align: center;
        }

        &__contact {
          margin-top: 25px;
          font-size: 14px;
        }

        &__sub-title {font-size: 12px;}

        &__links {
          width: 150px;
          height: 50px;
          font-size: 16px;
          padding-top: 15px;
          display: inline-block;
          margin: auto 70px;
        }

        &__bubbles {
          text-align: center;
          margin-top: 45px;
        }

      }
    }

///
///end of $mq-medium
///




///
///$mq-large
///
    @media #{$mq-large} {
      .contact {
        margin: 20px 30px 0 30px;

        &__title {
          font-size: 65px;
        }

        &__info {
          font-size: 16px;
          line-height: 32px;
          width: 80%;
          margin: 25px auto;
        }

        &__contact {
          margin-top: 25px;
          font-size: 16px;
        }

        &__sub-title {font-size: 14px;}

        &__links {
          width: 150px;
          height: 50px;
          font-size: 16px;
          padding-top: 15px;
          margin: auto 10%;
        }

        &__bubbles {
          text-align: center;
          margin-top: 55px;
        }

      }
    }

///
///end of $mq-large
///



///
///$mq-medium-landscape
///
    @media #{$mq-medium-landscape} {
      .contact {
        margin: 0 0 0 20%;

        &__title {
          font-size: 65px;
          margin: 0;
          padding-top: 50px;
        }

      }
    }

///
///end of $mq-medium-landscape
///




///
///$mq-largest
///
    @media #{$mq-largest} {
      .contact {

        &__contact-block {
          width: 40%;
          display: inline-block;
          text-align: center;
          margin-left: 6%;
        }

        &__links {
          width: 150px;
          height: 50px;
          font-size: 16px;
          padding-top: 15px;
          margin: auto 10%;
        }

      }
    }

///
///end of $mq-largest
///
