///
/// Default
///
    @media #{$mq-default} {
        .footer {
            background: white;
            width:100%;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

        }
    }




///
///$mq-extra-small
///
    @media #{$mq-extra-small} {
      .footer {
        &__social {
          width: 50px;
          margin: 0 0 0 13%;
          padding-bottom: 15px;
        }
      }
    }

///
///end of $mq-extra-small
///




///
///$mq-small
///
    @media #{$mq-small} {
      .footer {
        &__social {
          width: 50px;
          margin: 0 0 20px 15%;
        }
      }
    }

///
///end of $mq-small
///



///
///$mq-small-plus
///
    @media #{$mq-small-plus} {
      .footer {
        &__social {
          width: 50px;
          margin: 0 0 20px 16%;
        }
      }
    }

///
///end of $mq-small-plus
///




///
///$mq-medium
///
    @media #{$mq-medium} {
      .footer {
        &__social {
          width: 75px;
          margin: 0 0 35px 19%;
        }
      }
    }

///
///end of $mq-medium
///



///
///$mq-medium-landscape
///
    @media #{$mq-medium-landscape} {
      .footer {
        display: none;
      }
    }

///
///end of $mq-medium-landscape
///
