//
/// Default
///
    @media #{$mq-default} {
        .swamp-rabbit {

            &__title {
              font-family: $font_baskerville;
              color: $color_light-font-grey;
            }

            &__sub-title {
              font-family: $font_montseratt;
              color: $color_light-font-grey;
            }

            &__description {
              font-family: $font_open-sans;
              color: $color_mid-grey;
            }

            &__links {
              font-family: $font_montseratt;
              color: $color_light-font-grey;
            }

            &__view a {
              color: $color_light-font-grey;
              border-bottom: 2px solid $color_gold;
            }

            &__view a:hover {
              color: $color_light-font-grey;
              text-decoration: none;
            }

            &__code {
              font-family: $font_open-sans;
              color: $color_mid-grey;
              list-style: none;
            }

        }
    }




///
///$mq-extra-small
///
    @media #{$mq-extra-small} {
      .swamp-rabbit {
        margin: 20px 9px 0 9px;

        &__title {font-size: 40px; line-height: 50px;}

        &__sub-title {
          margin-top: 30px;
          font-size: 22px;
        }

        &__description {
          font-size: 12px;
          line-height: 20px;
        }

        &__links {margin: 25px 0 25px 0;}

        &__view {
          font-size: 16px;
        }

        &__mockup {width: 100%;}

        &__code {
          padding: 0 0 25px 5px;
          font-size: 12px;
          line-height: 30px;
        }
      }
    }

///
///end of $mq-extra-small
///




///
///$mq-small
///
    @media #{$mq-small} {
      .swamp-rabbit {
        margin: 20px 20px 0 20px;

        &__title {font-size: 40px; line-height: 50px;}

        &__sub-title {
          margin-top: 30px;
          font-size: 22px;
        }

        &__description {
          font-size: 12px;
          line-height: 20px;
        }

        &__links {margin: 25px 0 25px 0;}

        &__view {
          font-size: 16px;
        }

        &__mockup {width: 100%;}

        &__code {
          padding: 0 0 25px 5px;
          font-size: 12px;
          line-height: 30px;
        }
      }
    }

///
///end of $mq-small
///




///
///$mq-medium
///
    @media #{$mq-medium} {
      .swamp-rabbit {
        margin: 20px 30px 0 30px;

        &__description {
          font-size: 14px;
          line-height: 28px;
        }

        &__code{
          column-count: 3;
          font-size: 14px;
          padding-bottom: 100px;
          margin-left: 12%;
        }

      }
    }

///
///end of $mq-medium
///




///
///$mq-large
///
    @media #{$mq-large} {
      .swamp-rabbit {
        margin: 20px 30px 0 30px;

        &__mockup {
          width: 49%;
          float: right;
        }

        &__title {
          font-size: 55px;
          line-height: 65px;
          margin-top: 50px;
        }

        &__project-info {
          width: 45%;
          display: inline-block;
          padding-bottom: 50px;
        }

        &__sub-title {
          font-size: 25px;
          margin-top: 50px;
        }

        &__description {
          font-size: 14px;
          line-height: 28px;
        }

        &__links {
          margin-top: 50px;
        }

        &__code{
          font-size: 14px;
        }

      }
    }

///
///end of $mq-large
///




///
///$mq-medium-landscape
///
    @media #{$mq-medium-landscape} {
      .swamp-rabbit {
          margin: 0 40px 0 24%;

        &__mockup {
          width: 49%;
          float: right;
          padding-top: 45px;
        }

        &__title {
          font-size: 55px;
          line-height: 65px;
          margin-top: 0;
          padding-top: 75px;
        }

        &__project-info {
          width: 45%;
          display: inline-block;
          padding-bottom: 10px;
        }

        &__sub-title {
          font-size: 25px;
          margin-top: 50px;
        }

        &__description {
          font-size: 14px;
          line-height: 28px;
        }

        &__links {
          margin-top: 50px;
        }

        &__code{
          font-size: 14px;
          padding-bottom: 0;
        }

      }
    }

///
///end of $mq-medium-landscape
///




///
///$mq-medium-landscape
///
    @media #{$mq-medium-landscape} {
      .swamp-rabbit {

        &__mockup {
          //max-width: 450px;
          //max-height: 415px;
        }

        &__project-info {
          width: 45%;
          display: inline-block;
        }

        &__code {
          margin: 0;
        }

      }
    }

///
///end of $mq-medium-landscape
///
