.anna--portfolio__block-link:hover,
.anna--portfolio__header-title:hover {
    cursor: url(img/polish.png) 2 2, pointer;
}

.anna--portfolio__body-wrap {
    background: url('img/static.gif');
    width: 100%;
}

.anna--portfolio__header {
    background-color: red;
    animation: bg-animation 30s infinite;
    width: 45%;
    display: block;
    margin: 20px auto 40px auto;
    padding: 10px 0 15px 0;
}

.anna--portfolio__header-link {
    text-decoration: none;
}

.anna--portfolio__header-title {
    font-family: $source;
    font-weight: 900;
    font-size: 11vw;
    text-align: center;
    color: orange;
    animation: color-animation 10s infinite;
}

.anna--portfolio__body {
    padding: 20px 0;
}

.anna-portfolio__block {
    width: 80%;
    display: block;
    margin: 0 auto 30px auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-color: black;
    position: relative;
    width: 100%;
    height: 110vw;
    z-index: 1;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    width: 0px;
    height: 0px;
    background-image: none;
    border: solid #00f700;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    top: 96%;
    background-size: 100px 100px;
}

.swiper-button-next {
    right: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.swiper-button-prev {
    left: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-slide div.anna--portfolio__block-signal span {
    display: none;
}

.swiper-slide div.anna--portfolio__block-signal:after {
    width: 95%;
    display: block;
    margin: 0 auto;
}

.anna--portfolio__block--wrangler div.anna--portfolio__block-signal:after {
    content: 'Wrangler Fit Guide';
}

.anna--portfolio__block--chamber div.anna--portfolio__block-signal:after {
    content: 'Winston Salem Chamber of Commerce';
}

.anna--portfolio__block--canteen div.anna--portfolio__block-signal:after {
    content: 'Canteen Market & Bistro';
}

.anna--portfolio__block--social-one div.anna--portfolio__block-signal:after {
    content: 'Ladygroove Instagram Story 01';
}

.anna--portfolio__block--social-two div.anna--portfolio__block-signal:after {
    content: 'Ladygroove Instagram Story 02';
}

.anna--portfolio__block--social-three div.anna--portfolio__block-signal:after {
    content: 'Ladygroove Instagram Story 03';
}

.anna--portfolio__block--shopping div.anna--portfolio__block-signal:after {
    content: 'Personal Shopping';
}

.anna--portfolio__block--photo div.anna--portfolio__block-signal:after {
    content: 'Photo Styling';
}

.anna--portfolio__block--interior div.anna--portfolio__block-signal:after {
    content: 'Environmental';
}

.anna--portfolio__block-intro-img {
    width: 100%;
    height: 110vw;
    overflow: hidden;
}

.anna--portfolio__block-signal {
    font-family: $source;
    font-weight: 900;
    font-size: 27px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    width: 100%;
    padding: 11px;
    position: absolute;
}

.anna--portfolio__block-vid-wrap {
    height: 85vw;
    padding: 20px 0;
}

.anna--portfolio__block-vid {

}

.anna--portfolio__block-img {
    height: 85vw;
}

.anna--portfolio__block-photo {
    height: auto;
    max-height: 85vw;
    max-width: 85%;
}

.anna--portfolio__block-link {
    font-family: $hepta;
    font-weight: normal;
    font-size: 12px;
    color: white;
    -ms-word-break: break-all;
    word-break: break-word;
}

.anna--portfolio__block-list {
    font-family: $hepta;
    font-weight: normal;
    font-size: 12px;
    color: white;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.anna--portfolio__block-list-item {
    padding-bottom: 8px;
    line-height: 145%;
}

.anna--portfolio__block-list-img {
    width: 25px;
    height: 25px;
}


////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media #{$mq-medium} {

    .anna--portfolio__header {
        width: 20%;
        margin: 30px auto 40px auto;
        padding: 10px 0 14px 0;
        position: relative;
    }

    .anna--portfolio__header-title {
        font-size: 5vw;
    }

    .anna--portfolio__header-title:hover:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        content: "go home";
        font-size: 2vw;
        color: white;
        background-color: black;
        padding: 10px 15px;
    }

    .anna--portfolio__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        padding: 0 25px;
    }

    .anna-portfolio__block {
        width: 32%;
        height: 45vw;
        margin: 0 0 30px 0;
    }

    .swiper-slide {
        height: 45vw;
        z-index: 1;
        font-size: 18px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 5px;
        top: 97%;
    }

    .swiper-button-next {
        right: 15px;
    }

    .swiper-button-prev {
        left: 15px;
    }

    .anna--portfolio__block-intro-img {
        height: 45vw;
    }

    .anna--portfolio__block-signal {
        font-size: 18px;
        padding: 10px;
    }

    .anna--portfolio__block-vid-wrap {
        height: 35vw;
    }

    .anna--portfolio__block-img {
        height: 35vw;
    }

    .anna--portfolio__block-photo {
        height: auto;
        max-height: 35vw;
        max-width: 80%;
    }

    .anna--portfolio__block-link {
        font-size: 11px;
    }

    .anna--portfolio__block-list {
        font-size: 11px;
    }

    .anna--portfolio__block-list-item {
        padding-bottom: 5px;
    }

}




////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media #{$mq-large} {

    .anna--portfolio__header {
        width: 18%;
        margin: 40px auto 50px auto;
        padding: 9px 0 16px 0;
    }

    .anna--portfolio__body {
        padding: 0 45px;
    }

    .anna-portfolio__block {
        height: 40vw;
    }

    .swiper-slide {
        height: 40vw;
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 7px;
        top: 96%;
    }

    .swiper-button-next {
        right: 20px;
    }

    .swiper-button-prev {
        left: 20px;
    }

    .anna--portfolio__block-intro-img {
        height: 40vw;
    }

    .anna--portfolio__block-vid-wrap {
        height: 30vw;
    }

    .anna--portfolio__block-img {
        height: 30vw;
    }

    .anna--portfolio__block-photo {
        height: auto;
        max-height: 30vw;
    }

    .anna-portfolio__block {
        margin-bottom: 50px;
    }

    .anna--portfolio__block-signal {
        font-size: 24px;
        padding: 12px;
    }

    .swiper-slide div.anna--portfolio__block-signal span {
        position: relative;
        content: 'No Signal'
    }

    .swiper-slide:hover div.anna--portfolio__block-signal span {
        display: none;
    }

    .swiper-slide div.anna--portfolio__block-signal span {
        position: relative;
        content: 'No Signal';
    }

    .swiper-slide div.anna--portfolio__block-signal span {
        display: block;
    }

    .swiper-slide:hover div.anna--portfolio__block-signal span {
        display: none;
    }

    .anna--portfolio__block--wrangler div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--chamber div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--canteen div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--social-one div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--social-two div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--social-three div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--shopping div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--photo div.anna--portfolio__block-signal:after,
    .anna--portfolio__block--interior div.anna--portfolio__block-signal:after {
        content: '';
    }

    .anna--portfolio__block--wrangler:hover div.anna--portfolio__block-signal:after {
        content: 'Wrangler Fit Guide';
    }

    .anna--portfolio__block--chamber:hover div.anna--portfolio__block-signal:after {
        content: 'Winston Salem Chamber of Commerce';
    }

    .anna--portfolio__block--canteen:hover div.anna--portfolio__block-signal:after {
        content: 'Canteen Market & Bistro';
    }

    .anna--portfolio__block--social-one:hover div.anna--portfolio__block-signal:after {
        content: 'Ladygroove Instagram Story 01';
    }

    .anna--portfolio__block--social-two:hover div.anna--portfolio__block-signal:after {
        content: 'Ladygroove Instagram Story 02';
    }

    .anna--portfolio__block--social-three:hover div.anna--portfolio__block-signal:after {
        content: 'Ladygroove Instagram Story 03';
    }

    .anna--portfolio__block--shopping:hover div.anna--portfolio__block-signal:after {
        content: 'Personal Shopping';
    }

    .anna--portfolio__block--photo:hover div.anna--portfolio__block-signal:after {
        content: 'Photo Styling';
    }

    .anna--portfolio__block--interior:hover div.anna--portfolio__block-signal:after {
        content: 'Environmental';
    }

    .anna--portfolio__block-link {
        font-size: 13px;
    }

    .anna--portfolio__block-list {
        font-size: 13px;
    }

    .anna--portfolio__block-list-item {
        padding-bottom: 8px;
    }


    .anna--portfolio__block-list-img {
        width: 30px;
        height: 30px;
    }

}




////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media #{$mq-largest} {

    .anna--portfolio__header {
        margin: 50px auto 60px auto;
        padding: 9px 0 20px 0;
    }

    .anna--portfolio__header-title:hover:after {
        width: 60%;
        font-size: 2.5vw;
        padding: 10px 15px;
    }

    .anna--portfolio__body {
        padding: 0 60px;
    }

    .anna-portfolio__block {
        width: 30%;
        height: 37vw;
    }

    .swiper-slide {
        height: 37vw;
    }

    .anna--portfolio__block-intro-img {
        height: 37vw;
    }

    .anna--portfolio__block-vid-wrap {
        height: 27vw;
    }

    .anna--portfolio__block-img {
        height: 27vw;
    }

    .anna--portfolio__block-photo {
        height: auto;
        max-height: 27vw;
    }

    .anna-portfolio__block {
        margin-bottom: 60px;
    }

    .anna--portfolio__block-signal {
        font-size: 29px;
        padding: 13px;
    }

    .anna--portfolio__block-link,
    .anna--portfolio__block-list {
        font-size: 14px;
    }

    .anna--portfolio__block-list-item {
        padding-bottom: 10px;
    }


}




////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media screen and (min-width: 1600px) {

    .anna--portfolio__body {
        width: 1500px;
        margin: 0 auto;
        padding: 0;
    }

    .anna--portfolio__header {
        width: 290px;
    }

    .anna--portfolio__header-title {
        font-size: 80px;
    }

    .anna--portfolio__header-title:hover:after {
        width: 200px;
        font-size: 45px;
    }

    .anna-portfolio__block {
        width: 445px;
        height: 594px;
    }

    .swiper-slide {
        height: 594px;
    }

    .anna--portfolio__block-intro-img {
        height: 594px;
    }

}
