$yellow: #f6cd2f;

$roboto: 'Source Sans Pro', sans-serif;

@keyframes bg-animation {
    12.5% {
        background-color: red;
    }
    25% {
        background-color: orange;
    }
    37.5% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    62.5% {
        background-color: blue;
    }
    75% {
        background-color: indigo;
    }
    87.5% {
        background-color: violet;
    }
    100% {
        background-color: red;
    }
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(360deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes spin {
    0% {
      -ms-transform: rotate(360deg);
    }
    100% {
      -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
      -moz-transform: rotate(360deg);
    }
    100% {
      -moz-transform: rotate(0deg);
    }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
