$green: #BEFB3C;
$pink: #FF28F6;
$purple: #E5D9FF;
$orange: #FFD6BF;

@font-face {
    font-family: SavateRegular;
    src: url("fonts/savate-regular-webfont.woff2") format("woff2"),
         url("fonts/savate-regular-webfont.woff")  format("woff");
}

@font-face {
  font-family: SavateItalic;
  src: url("fonts/savate-italique-webfont.woff2") format("woff2"),
       url("fonts/savate-italique-webfont.woff")  format("woff");
}

$sav-reg: "SavateRegular", sans-serif;
$sav-i: "SavateItalic", sans-serif;
